@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  background-color: rgb(245, 238, 230);
}
.container {
  display: grid;
}
.Card {
  font-family: 'Montserrat', sans-serif;
  color: #8a8a88d7;
  width: 40vw;
  padding: 1em;
  display: grid;
  text-align: left;
  border: groove;
  justify-self: left;
  transition-duration: 0.4s;
}
.Card:first-of-type {
  grid-area: 1/1/2/3;
  justify-self: center;
  transform: scale(1.6);
  margin: 6em 0 6em 0;
}
.Card:not(:first-of-type) {
  margin: 2em;
  justify-self: center;
}
.Card--details {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.Card--details-big {
  display: flex;
  font-size: 1em;
}
.Card--details-big p {
  font-size: 5em;
}
.Card--details-small {
  display: grid;
  grid-template-columns: 130px 130px;
  color: black;
  margin-left: 2em;
}
.Card:hover {
  background-color: rgb(226, 218, 209);
}
.Card:not(:first-of-type):hover {
  transform: scale(1.15);
}
.Card-image {
  width: 7em;
}

@media only screen and (max-width: 600px) {
  
  .Card::-webkit-scrollbar{
    display: none;
  }
  .Card {
    height: 100vh;
    width: 90vw;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    transform: scale(1);
    overflow-y: scroll;
    
  }
  .Card:first-of-type {
    grid-area: 1/1/1/1;
    margin: 0;
    transform: scale(1);
  }
  .Card:not(:first-of-type) {
    margin: 1em 0 1em 0;
  }
  .Card:not(:first-of-type):hover {
    transform: scale(1);
  }
  .Card--title{
    font-size: 2.5em;
  }
  .Card--details {
    display: flex;
    flex-direction: column;
  }
  .Card--details-big {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  .Card--details-big p {
    font-size: 12em;
  }
  .Card--details-small {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 0;
    font-size: 1.5em;
  }
  .Card-image {
    width: 15em;
  }
}
.searchBar {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 1em;
}
.searchBar input {
  border: none;
  border-bottom: 1px solid rgb(114, 113, 113);
  margin: 1em;
  transition: 0.4s;
  font-size: 1em;
}
.searchBar input:focus {
  background-color: #292928d7;
  color: white;
  border-bottom: 1px solid white;
  transition-duration: 0.4s;
  padding: 1em;
  font-size: 1em;
}
.button {
  border: none;
  border-radius: 5px;
  padding: 1em;
  padding: 1 1em 0 1em;
  transition-duration: 0.4s;
  font-size: 1em;
}
.button:active {
  transform: translateY(5px);
}
.button:hover {
  background-color: #292928d7;
  color: white;
  cursor: pointer;
}
